@import "bourbon"
@import "vars"

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  .hero
    background: $default-color url('../img/back-hero.jpg') center / cover
    flex-direction: row
    padding: 0 10px
    box-shadow: 0px 0px 5px 3px $default-color2
    z-index: 1

  footer
    box-shadow: 0px 0px 5px 3px $default-bg-color

  .nav_ingredients ul li
    width: auto
    margin: 5px auto

  .hero nav
    order: 1
    width: auto
    flex-grow: 1
    margin: auto

  .top-panel_nav_item
    opacity: .7
    transition: opacity .1s ease-in, border-color .3s ease-out
    border-bottom: 2px solid transparent

  .top-panel_nav_item:hover
    opacity: 1
    border-color: #fff

  .top-panel_nav_item:nth-child(1)
    width: 90px

  .top-panel_nav_item:nth-child(2)
    width: 90px

  .tel
    display: none

  .category
    justify-content: space-around

  .category_item
    flex-direction: column
    flex-basis: 320px
    margin-bottom: 40px
    border-radius: 20px
    cursor: pointer
    transition: background-color .2s ease-out

    img
      height: auto
      max-width: 210px
      margin: 20px auto

  .category_item:hover
    background-color: $default-bg-color

  .category_item_title,
  .category_value
    margin-left: 30px
    margin-right: auto

  .price,
  .wt
    width: auto

  .price
    margin-bottom: 20px

  .category_item_title,
  .wt
    font-size: 1.1rem

  .price
    font-size: 1.6rem

@media only screen and (min-width : 700px)
  .tel
    display: block

  .nav_ingredients ul li
    margin: auto

  .fixed
    position: fixed
    left: 0
    width: 100%
    z-index: 9
    opacity: .98

  .top-panel.fixed
    background: $default-color

  .nav_ingredients.fixed
    margin-top: 0

  .nav_ingredients.fixed ul
    margin: 0 auto

  .tel
    padding-right: 3rem


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .top-panel_nav_item:nth-child(1)
    width: auto

  .top-panel_nav_item:nth-child(2)
    width: auto

  .adress
    flex-direction: row
    justify-content: space-between

  .adress_contacts
    margin-left: 0

  .copyright
    margin-top: 20px

  .modal-wrapper
    width: 750px
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    padding: 30px

  .modal_img
    flex-direction: column
    margin-top: auto

  .modal-main-img
    height: 190px
    margin-bottom: 20px

  .modal-img-list
    flex-direction: row

  .modal-img-list > li > img
    max-width: 80px

  .modal_item_description
    width: 400px
    margin: 0 auto

  .modal_item_description.max
    margin-left: 0

  .modal_btn
    display: none

  @font-face
    font-family: 'FontAwesome'
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0')
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg')
    font-weight: normal
    font-style: normal

  .logo_link::before
    content: "\f015"
    text-align: center
    display: block
    margin-bottom: .2rem
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


@media only screen and (min-width : 900px)
  .slider
    display: block

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .top-panel.fixed
    padding-left: calc(50vw - 600px)
    padding-right: calc(50vw - 600px)
    width: 1200px

