.slider
  position: relative
  width: 800px
  margin: auto
  padding: 40px 0

.slider > input 
  display: none

.slider > input:nth-of-type(3):checked ~ ul li:first-of-type
  margin-left: -200%

.slider > input:nth-of-type(2):checked ~ ul li:first-of-type
  margin-left: -100%

.slider > input:nth-of-type(1):checked ~ ul li:first-of-type
  margin-left: 0%

.slider > ul
  position: relative
  width: 800px
  height: 400px
  z-index: 1
  font-size: 0
  line-height: 0
  background-color: transparent
  border: 0
  margin: 0 auto
  padding: 0
  overflow: hidden
  white-space: nowrap
  box-sizing: border-box

.slider > ul > li
  text-align: center
  position: relative
  display: inline-block
  width: 100%
  min-width: 100%
  height: 100%
  overflow: hidden
  font-size: 15px
  font-size: initial
  line-height: normal
  transition: all 0.5s ease-in
  vertical-align: top
  box-sizing: border-box
  white-space: normal

.slider > .arrows
  -webkit-touch-callout: none
  user-select: none

.slider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.slider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.slider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after 
  opacity: 1

.slider > .arrows
  position: absolute
  left: -31px
  top: 50%
  width: 100%
  height: 26px
  padding: 0 31px
  z-index: 0
  box-sizing: content-box

.slider > .arrows label
  display: none
  position: absolute
  top: -50%
  padding: 13px
  box-shadow: inset 2px -2px 0 2px #ffe9c8
  cursor: pointer
  transition: opacity .1s
  opacity: .7

.slider > .arrows label:hover
  opacity: 1

.slider > .arrows label:before
  content: ''
  position: absolute
  top: -100%
  left: -100%
  height: 300%
  width: 300%

.slider > input:first-of-type:checked ~ .arrows label.goto-last,
.slider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.slider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2)
  display: block
  left: 0
  right: auto
  transform: rotate(45deg)

.slider > input:last-of-type:checked ~ .arrows label.goto-first,
.slider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.slider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3)
  display: block
  right: 0
  left: auto
  transform: rotate(225deg)