@import "normalize/import-now"
@import "bourbon"
@import "vars"
@import "libs"
@import "slider"

.x
  border: 1px solid #000

body
  margin: 0
  font-family: "Myriad Pro"
  display: flex
  flex-direction: column
  min-height: 100vh

ul
  display: flex
  list-style: none
  padding: 0

//**** HEADER ****//
.hero
  background: $default-color //url('../img/back-hero.jpg') center / cover

  .top-panel
    padding-top: 10px
    display: flex
    flex-wrap: wrap

    a
      margin: auto
      color: #fff
      text-decoration: none

  nav 
    order: 3
    width: 100%

    ul
      align-items: center

.top-panel_nav_item:nth-child(1),
.top-panel_nav_item:nth-child(2)
  width: 23vw

.hover
  opacity: 1 !important
  border-color: #fff !important

.top-panel_nav_item
  text-align: center
  vertical-align: center
  margin: auto
  text-transform: uppercase
  line-height: 1.2rem

  a
    font-size: 1rem

.tel
  margin: auto
  position: relative
  padding-left: 3rem
  color: #fff
  opacity: .9
  order: 2

.tel:before
  position: absolute
  top: -3px
  left: 0
  content: ""
  display: block
  width: 2rem
  height: 2rem
  background-image: url('../img/tel.svg')
  background-repeat: no-repeat
  background-size: 2rem

//**** END HEADER ****//

main 
  background: url('../img/main-bg.jpg') center
  flex-grow: 1

//**** Sort INGREDIENTS ****//

.nav_ingredients
  margin-top: 20px
  background-color: $default-bg-color

  ul
    padding: 18px 0
    flex-wrap: wrap

    li
      text-transform: uppercase
      padding: 0
      padding-left: 30px
      margin: auto
      position: relative
      width: 20vw

      a,
      a:hover
        color: $default-color

    li:before
      content: ""
      width: 20px
      height: 20px
      display: block
      position: absolute
      border: 0
      left: 0


    li:nth-child(1):before
      width: 22px
      height: 21px
      background-image: url('../img/nav_sort.png')
      background-position: 22px 21px

    li:nth-child(2):before
      width: 27px
      height: 22px
      background-image: url('../img/nav_sort.png')
      background-position: 48px 22px

    li:nth-child(3):before
      width: 21px
      height: 22px
      background-image: url('../img/nav_sort.png')
      background-position: 70px 22px

    li:nth-child(4):before
      width: 26px
      height: 23px
      background-image: url('../img/nav_sort.png')
      background-position: 49px 45px

    li:nth-child(5):before
      width: 19px
      height: 22px
      background-image: url('../img/nav_sort.png')
      background-position: 70px 45px

    li:nth-child(6):before
      width: 17px
      height: 19px
      background-image: url('../img/nav_sort.png')
      background-position: 22px 41px

    li:nth-child(7):before
      width: 19px
      height: 27px
      background-image: url('../img/nav_sort.png')
      background-position: 24px 68px

    li:nth-child(8):before
      width: 22px
      height: 21px
      background-image: url('../img/nav_sort.png')
      background-position: 46px 68px

    li:nth-child(9):before
      width: 24px
      height: 23px
      background-image: url('../img/nav_sort.png')
      background-position: 70px 68px

//**** END Sort INGREDIENTS ****//

//**** CATALOG ****//

.category
  display: flex
  flex-wrap: wrap
  padding-bottom: 40px
  max-width: 1200px
  margin-left: auto
  margin-right: auto

.category::before
  content: ""
  width: 100%

.category_title
  text-align: center
  width: 20rem
  font-family: $default-font
  font-weight: bold
  text-transform: uppercase
  color: $default-color2
  line-height: 3rem
  margin: 20px auto
  order: -1

.category_items
  display: flex
  flex-wrap: wrap

.category_item
  display: flex
  align-items: center
  cursor: pointer
  flex-basis: 100vw
  flex-wrap: nowrap

  img,
  h2,
  .category_value
    padding: 5px

  img
    max-width: 50px
    height: auto

.category_item_title
  display: block
  font-family: $default-font
  line-height: 1rem
  flex-grow: 1

.category_value
  display: flex
  flex-direction: column

.price,
.wt
  font-family: $default-font
  width: 4rem

.wt
  font-size: .8rem
  line-height: .8rem

.price
  font-size: 1rem
  font-weight: bold

//**** END CATALOG ****//

//**** FOOTER ****//
footer
  background: $default-bg-color url('../img/footer-line.jpg') top repeat-x
  color: $default-color2
  padding-top: 50px
  display: flex
  flex-direction: column

.adress
  font-family: $default-font
  display: flex
  flex-direction: column

.copyright
  padding-bottom: 10px

.adress_contacts
  margin: auto

.delivery h3
  padding-left: 25px
  padding-bottom: 0
  margin-bottom: 0

.delivery img
  max-width: 90vw

//**** END FOOTER ****//

.modalDialog
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0,0,0,0.8)
  z-index: 9
  transition: opacity 400ms ease-in
  overflow-y: auto
  display: none


.modal-wrapper
  display: flex
  flex-direction: column
  width: 90vw
  position: relative
  margin: 10% auto
  padding: 5px
  border-radius: 5px
  background: #fff

.modal_img
  text-align: center
  display: flex
  flex-direction: row-reverse
  margin-top: 30px
  padding: 20px
  color: $default-color2

.modal-main-img
  width: auto
  height: 50vw
  margin: auto

.modal-img-list
  display: flex
  flex-direction: column
  justify-content: space-around

.modal-img-list > li
  list-style: none

  img
    max-width: 12vw
    height: auto

  p
    line-height: 1.2rem
    margin: 0

  p:first-of-type
    margin: 20px 0

.modal-wrapper-after
  display: block
  position: absolute
  content: ""
  top: 20px
  right: 20px
  width: 30px
  height: 30px
  background: url('../img/close-22-128.png') center / cover
  cursor: pointer

.modal_item_description
    line-height: 1.2rem
    margin: 0 20px

.modal_category_title
  font-family: $default-font
  font-weight: bold
  text-transform: uppercase
  color: $default-color2
  font-size: 1.5rem
  line-height: 1.5rem

.modal_price
  display: block
  font-weight: bold
  font-size: 1.5rem
  text-transform: uppercase
  margin: 10px auto

.modal_btn
  background: $default-color
  color: #fff
  text-align: center
  padding: 20px
  margin: 20px auto 5px
  display: block
  text-transform: uppercase
  border-radius: 10px
  cursor: pointer

@import "media"
